{%- if block.settings.text_color == 'text' -%}
  {% capture color_class %} text-scheme-text {% endcapture %}
{%- else -%}
  {% capture color_class %} text-scheme-meta {% endcapture %}
{%- endif -%}
<div
  class="{{ block_base_classes }} my-5 group-first:mt-0 {{ color_class }}"
  data-disable-variance
  {{ block.shopify_attributes }}
>
  {%- if block.settings.heading != '' -%}
    <h2 class="text-theme-basic break-word">{{ block.settings.heading }}</h2>
  {%- endif -%}
  <ul class="pb-2">
    {%- for i in (1..5) -%}
      {%- capture icon %}icon_{{ i }}{%- endcapture -%}
      {%- capture text %}text_{{ i }}{%- endcapture -%}
      {%- liquid
        assign icon = block.settings[icon]
        assign text = block.settings[text]
      -%}
      {%- if text != '' -%}
        <li class="flex items-center justify-start text-theme-basic my-2 break-word">
          {% render 'product-icon',
            icon: icon,
            classes: 'text-xs mr-3 w-4 h-4 shrink-0'
          %}
          {{- text | escape | strip -}}
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
