{% if block.settings.type == 'spr' %}
  {{ 'spr-ratings.css' | asset_url | stylesheet_tag }}
{% elsif block.settings.type == 'native' %}
  {{ 'ratings.css' | asset_url | stylesheet_tag }}
{% endif %}
<div
  class="my-6 group-first:mt-0 empty:hidden {{ block_base_classes }}"
  data-disable-variance
  style="--star-rating-star-color: var(--color-scheme-{{ block.settings.star_color }}); --star-rating-star-background-color: rgb(var(--color-scheme-text) / 0.1); --star-rating-caption-color: rgb(var(--color-scheme-text));"
  {{ block.shopify_attributes }}
>
  {%- render 'star-rating',
    type: block.settings.type,
    product: product,
  -%}
</div>